body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Bebas Neue", serif;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 15px;
  opacity: 0.6;
}
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
  }
}
